{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <p>Era el año 2022 y me había decidido a realizar el viaje que por tantos años había postergado, 
                        me fui por primera vez sola a Europa durante 3 meses y medio.</p>

                    <p>Antes de irme, mis amigos y familiares no dejaban de repetirme, mandá fotos, andá contándome todo!
                    Cuando me visualicé enviando por whatsapp las mismas fotos y contando las mismas cosas a más de 10 personas una por una dije… 
                    esto no va a suceder!</p>

                    <p>Ahí se me ocurrió crear AD MUNDUM, nació como una cuenta privada sólo para familiares y amigos donde iba posteando fotos,
                        e iba escribiendo cosas que me iban pasando o que iba viendo durante el viaje, esto hacía que mis charlas por whatsapp
                        fueran diferentes con cada persona (y más cortas también, para qué mentir?). En cuanto me pedían fotos, automáticamente les decía,
                        “fíjate en el insta que ahí subí varias”. </p>

                    <p>Al regresar de viaje, AD MUNDUM quedó ahí y se convirtió en un hermoso recuerdo para mí.
                    Cada tanto entraba y veía todas y cada una de las fotos que había subidos allí.
                    Era mucho mejor que tener las fotos subidas a un drive, porque seamos sinceros, en mi vida he hecho muchos viajes de vacaciones,
                    de trabajo, con amigos, con familia, tengo miles y miles de fotos, pero si las habré visto más de dos veces es mucho.
                    Sin embargo con la cuenta de Instagram era diferente, la tenía ahí al alcance, no lo tenía que buscar, por lo que las vi una y otra vez…
                    también me servía para mostrarle a otras personas rápidamente si alguna charla me remitía a alguno de los lugares que había visitado. </p>

                    <p>Un año después me volví a ir de viaje, esta vez dos meses y AD MUNDUM volvió a cobrar vida, otra vez posteos con fotos que contaban mi historia,
                        se convirtió en una bitácora de viaje abierta. </p>

                    <p>Volví de ese viaje y ADMUNDUM se volvió a dormir, otra vez se convirtió en mi Instagram de los recuerdos y fue ahí cuando dije…
                        Esta cuenta es linda, me hace sentir cosas y dije… por qué no compartirla con el mundo?. 
                        AD MUNDUM significa “al mundo” en latín y qué mejor que hacer honor a su nombre? </p>

                    <p>A quién va dirigido AD MUNDUM?, primero y principal a mí, 
                    porque quiero tener un registro de mis viajes y vivencias para volver una y otra vez a recordarlos y a revivirlos, 
                    en segundo lugar a todas aquellas personas soñadoras que quieren convertir sus sueños en realidad, 
                    ya sea el de viajar o cualquier otro sueño y en tercer lugar está dirigido al mundo. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}